:root {
    --white: #FFF;
    --primary: #EF8848;
    --secondary: #3139FD;
    --gray: #3C3C3C;
}

@font-face {
    font-family: 'Pixeloperatormono';
    src: url('../font/PPNeueBit-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--gray); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
  }
body {
    background: #000000 0% 0% no-repeat padding-box;
    font-family: Poppins;
}

.shadow {
    position: absolute;
    top: -800px;
    left: -800px;
    width: 1400px;
    height: 1500px;
    opacity: 0.6;
    z-index: -1;
    background: transparent radial-gradient(closest-side at 50% 50%, #3139FD 0%, #191D7F00 100%) 0% 0% no-repeat padding-box;
}

.primary-shadow {
    position: absolute;
    top: -300px;
    right: -500px;
    width: 900px;
    height: 1000px;
    opacity: 0.6;
    z-index: -1;

    background: transparent radial-gradient(closest-side at 50% 50%, #EF8848 0%, #EF884800 100%) 0% 0% no-repeat padding-box;
}
.secondary-shadow{
    position: absolute;
    z-index: -1;
    top: -200px;
    left: -500px;
    width: 1000px;
    height: 1000px;
    opacity: 0.6;
    background: transparent radial-gradient(closest-side at 50% 50%, #3139FD 0%, #191D7F00 100%) 0% 0% no-repeat padding-box;

}
.height-550{
    top: -450px !important;
    right: -450px !important;
    width: 850px !important;
    height: 900px !important;
    z-index: -1;
}
.section {
    position: relative;
    width: 100%;
    /* overflow: hidden; */
    overflow-x: clip;

}

.banner-section {
    height: calc(100vh - 70.99px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-text {
    text-align: center;
}

.banner-img {
    position: absolute;
    z-index: -5;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    width: 240px;
}

.banner-text h1 {
    font-size: 130px;
    color: var(--white);
    font-family: Pixeloperatormono, sans-serif;
    line-height: 0.8;

}

.banner-text .flex-text {
    display: flex;
    justify-content: space-between;
}

.banner-text .flex-text p {
    color: var(--white);
    font-size: 11px;
    font-family: Poppins;
}
.second-sec{
    padding-top: 7rem;
}
.section-title {
    font-family: Pixeloperatormono, sans-serif;
    font-size: 100px;
    color: var(--white);
    line-height: 0.9;
}

.list-box {
    margin-top: 3rem;
}

.list-box h3 {
    color: var(--white);
    font-size: 15px;
}

.list-box p {
    color: var(--white);
    font-size: 11.5px;
    width: 350px;
    line-height: 1.7;
}
.normal-p.p-mt,.normal-p{
    width: 370px;
    line-height: 1.7;

}
.contribute {
    margin-top: 2rem;
}

.normal-btn-with-icon {
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.normal-btn-with-icon:hover {
    color: var(--white);
}

.normal-btn-with-icon img {
    margin-left: 1rem;
    width: 21px;
    height: 5px;
}

.bottom-padding {
    padding-bottom: 10rem;
}

.daul-flex h2 {
    display: inline-block;
    margin: 0;
}

.daul-flex sub {
    color: var(--white);
}

.normal-p {
    font-size: 11.5px;
    color: var(--white);
}
.p-mt{
    margin-top: 2rem;
}
.c-img-section{
    width: 300px;
    height: 350px;
/* margin: auto; */
}
.c-img-section img{
    width: 300px;
    height: 350px;
}
.section-top-p{
    padding-top: 6rem;
}
.container-fluid{
    padding: 0 4rem;
}
.slider-container{
    padding-left: 4rem;
}
.slider-box:focus-visible{
    outline: none !important;
}
.slider-box img{
    width: 90%;
    height: 350px;
margin-top: 2rem;
}
.btn-group-colum{
    margin-top:2rem;
}
.btn-group-colum .normal-btn-with-icon{
    margin-top: 1rem;
}
.roadmap{
    display: flex;
    margin-top: 3rem;
}
.roadmap-text{
    height: 260px;
    margin-left: 40px;
}
.roadmap-stick{
    width: 2px;
    margin-top: 1rem;
    height: 780px;
    /* UI Properties */
    background: transparent linear-gradient(180deg, var(---d98863) 0%, #EF8848 21%, #303EF3 33%, #303EF300 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #FF8234 0%, #EF8848 21%, #303EF3 33%, #303EF300 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.roadmap-text h3{
    position: relative;
}
.roadmap-text h3::after{
content: '';
left: -57px;
top: 0;
position: absolute;
width: 33px;
height: 33px;
opacity: 1;
}
.primary-dot::after{
background: transparent radial-gradient(closest-side at 50% 50%, #EF8848 0%, #EF884800 100%) 0% 0% no-repeat padding-box;

}
.secondary-dot::after{
    background: transparent radial-gradient(closest-side at 50% 50%, #303EF3 0%, #303EF300 100%) 0% 0% no-repeat padding-box;
}
.margin-top-shadow{
    margin-top: 400px;
}
.roadmap-shadow-secondary{
    top: -500px !important;
}

.roadmap-text h3{
    color: var(--white);
    font-size: 25px;

}
.roadmap-list{
    list-style: none;
    padding: 0 !important;
    margin-top: 1rem;
    width: 100%;
}
.roadmap-list li{
    color: var(--white);
    font-size: 13px;
    margin-top: 0.5rem;

}
.roadmap-text:not(:first-child){
    opacity: 0.3 !important;

}
.subscription-shadow{
    top: -300px;
}
.custom-from-group{
    margin-top: 2.5rem;
    font-size: 32px;
    padding-right: 2rem;
}
.custom-from-group-placeholder{
    font-size: 18px;
}
.form-control{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-left: 0;
    color: var(--white);
}
.form-control:focus{
    background: transparent;
    box-shadow: none;
    color: var(--white);
    border-color: var(--primary);

}
label{
    font-size: 16px;
    color: var(--white);
}
.mobile-head-open{
    display: none !important;
}
.mobile-head{
    display: none;
}
.custom-order-4{
    display: flex;
}

.mobile-social{
    display: none !important;
}
.container {
    /* padding: 0 0.5rem; */
}

.common-bottom-padding{
    padding-bottom: 8rem;
}
.get-voting{
    margin-top: 4rem;
}
